* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, 'Times New Roman', Times, serif;
    padding: 0;
    margin: 0;
}

/* Nav bar */

.Company-Logo {
    color: #F9FAF8;
    font-size: 24px;

}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
    margin: auto;
}

.nav-items {
    display: flex;
    list-style-type: none;
}

.nav-bar {
    background-color: #1F2937;
    justify-content: space-around;
}

.nav-bar ul li {
    padding: 10px;
    margin: 0 10px;
    
}

.nav-bar a {
    font-weight: bold;
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
    
}

/* Hero section */

.hero {
    padding: 6rem 13em 6em 13rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #1F2937;
    gap: 4rem;


    /* border-style: solid;
    border-color: red;
    border-width: 3px; */
}

.hero-image {
    background-color: #E5E7EB;
    min-width: 500px;
    height: 250px;
    text-align: center;
    line-height: 250px;
}

.hero-left h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero-left p {
    color: #E5E7EB;
    font-size: 18px;
    margin-top: .2rem;
}

.sign-up-btn {
    border-radius: .5rem;
    background-color: #3882F6;
    height: 2rem;
    width: 6rem;
    color: #F9FAF8;
    margin-top: 1rem;
}

/* info section */

.info {
    padding: 1rem 13em 6em 13rem;
    /* border-style: solid;
    border-color: red;
    border-width: 3px; */
}

.info-text {
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
    text-align: center;
    padding: 2rem;

}


.content-info {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.one {
    width: 160px;
    text-align: center;
    /* border-style: solid;
    border-color: red;
    border-width: 3px; */
}

.info .content-info .one div {
    width: 150px;
    height: 150px;
    border-style: solid;
    border-width: 4px;
    border-color: #3882F6;
    border-radius: .5rem;
}

.info .content-info .one p {
    margin-top: .4rem;
    color: #202837;
    font-size: 18px;
}

/* quote section */

.quote {
    padding: 6rem 13em 6em 13rem;
    /* border-style: solid;
    border-color: red;
    border-width: 3px; */
    background-color: #E5E7EB;
    /* display: flex;
    flex-direction: column; */

    
}

.quote h1 {
    color: #1F2937;
    font-weight: 300;
    font-style: italic;
    align-items: end;
}

.quote p {
    text-align: right;
    font-size: 24px;
    font-weight: 900;

}

/* call to action */

.cta {
    padding: 6rem 13em 6em 13rem;
    /* border-style: solid;
    border-color: red;
    border-width: 3px; */
}

.cta-box {
    padding: 3rem 4rem;
    background-color: #3882F6;
    display: flex;
    justify-content: space-around;
    border-radius: .5rem;
}

.cta-contect h2 {
    color: #F9FAF8;
}

.cta-contect p {
    color: #E5E7EB;
}

.inv {
    width: 100px;
    height: 30px;
    text-align: center;
    border-style: solid;
    border-color: #F9FAF8;
    border-width: 2px;
    line-height: 30px;
    
}

.copy {
    padding: 2rem 3rem;
    display: flex;
    justify-content: center;
    background-color: #202837;
}

.copy p {
    color: #E5E7EB;
    font-size: 18px;
}


